:root {
    --primary: #4254ba;
    --bg: #FFFF;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --ruby: #E0115F;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;
border: none;
text-decoration: capitalize;
transition: all .2s linear;
}

html {
    font-size: 70.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
}


body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: #fff;
}

/* sliderCUSTOM */
.sliderCustom {
    --width: 100px;
    --height: 50px;
    --quantity:3;

    width: 100%;
    height: var(--height); /* Increase the height to make it visible */
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
}

.sliderCustom .list .text h3{
    color: black;
}

.sliderCustom .list {
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}

.sliderCustom .list .text,
.sliderCustom .list .item {
    width: 200px;
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    animation-delay: calc( (10s / var(--quantity)) * (var(--position) - 1) );
}

.sliderCustom .list .item img {
    width: 100%;
}

@keyframes autoRun {
    from {
        left: 100%;
    }to{
        left: calc(var(--width) * +1);
    }
}

/* Section */
section {
    padding: 2rem 9%;
}

section:nth-child(2){
    background: #eee;
}


/* Button */
.btn {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:wheat;
    background:black;
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
    text-decoration: none;
}

.btn:hover {
    background:var(--ruby);
    letter-spacing: .3rem;
}

/* Navbar */
.navbar{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 1rem 7%;
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(20px);
    position: fixed; 
    top: 0;left:0;right: 0;
    z-index: 1000; 
    box-shadow: var(--box-shadow);
}


.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 520;
    color: #f00;
    font-style:italic;
    text-decoration: none;
}

.navbar .navbar-logo span{
    color: #98fbcb;
}

.navbar .navbar-nav a {
    color: #aa3232;
    display: inline-block; /*a display = inline! ,inlineblock = memberi margin tanpa membuat inline turun ke bawah*/
    font-size: 1.2rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    text-decoration: none;
}

.navbar .navbar-nav a:hover {
    color: #fff;
    background: #E0115F;
    letter-spacing: 0.1rem;
}

/*.navbar .navbar-nav a::after {
    content: '';
    display:block;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.4s linear;
}*/

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.8);
}

.navbar .navbar-extra a{
    color: #fff;
    margin: 0 0.5rem;   
}

.navbar .navbar-extra a:hover {
    color: #f00;
}


#hamburger-menu {
    display: none;
}

/* Slider */

.home-slider {
    height: 100vh; /* Full viewport height */
    width: 100%;
}

.swiper {
    height: 100%;
    width: 100%;
}

.home .home-slider .slide {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 6rem;
}

.home .home-slider .slide .content {
    flex: 1 1 50rem;
}


.home .home-slider .slide .image {
    flex: 1 1 50rem;
    padding-top: 5rem;
}

.home .home-slider .slide .image img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: rgba(224, 17, 95,0.6) 0px 0px 0px 3px;
}

.home .home-slider .slide .content span {
    color: #E0115F;
    font-style:oblique;
    font-size: 2.5rem;
}

.home .home-slider .slide .content h3 {
    color:black;
    font-size: 2rem;
}

.home .home-slider .slide .content p {
    color: #353839;
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 1;
}

/* SwiperPagination*/
.swiper-pagination {
    margin-bottom: -0.5rem;
}

.swiper-pagination-bullet-active{
    background: var(--ruby);
}



/* Shopping Cart */
#shopping-cart-button {
    position: relative;
    color: black;
}

#shopping-cart-button:hover {
    color: var(--ruby);
}

#shopping-cart-button .quantity-badge {
    display: inline-block;
    padding: 1px 5px;
    background-color: red;
    border-radius: 6px;
    font-size: 0.8rem;
    position: absolute;
    top: 0;
    right: -10px;
}

.shopping-cart {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 35rem;
    padding: 0 1.5rem;
    color: var(--bg);
    background-color:whitesmoke ;
    transition: 0.3s;
    height: 100vh;
    max-height: 80vh;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid #ccc; 
    border-radius: 10px; 
}

.scrollcon {
    max-height: 40vh; 
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid #ccc; 
    border-radius: 10px; 
  }
  
  .shopping-cart::-webkit-scrollbar {
    width: 14px;/* Sets the width of the scrollbar */
  }
  
  .shopping-cart::-webkit-scrollbar-track {
    background: whitesmoke; 
    border-radius: 10px; 
  }
  
  .shopping-cart::-webkit-scrollbar-thumb {
    background: #E0115F; 
    border-radius: 10px; 
  }
  

.shopping-cart.active {
    right: 0;
}

.shopping-cart .cart-item {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed #666;
    position: relative;
}

.shopping-cart img {
    height: 2rem;
    border-radius: 50%;
}

.shopping-cart h3 {
    font-size: 1rem;
    color: var(--ruby);
}

.shopping-cart .item-price {
    font-size: 1.1rem;
    color: var(--ruby);
}

.shopping-cart .cart-item #add,
.shopping-cart .cart-item #remove {
    display: inline-block;
    padding: 2px 5px;
    cursor: pointer;
    margin:0 8px;
    background-color: var(--ruby);
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
}

.shopping-cart .remove-item {
    position: absolute;
    right: 1rem;
    cursor: pointer;
}

.shopping-cart .remove-item:hover {
    color: var(--primary);
}

.shopping-cart h4 {
    font-size: 3rem;
    text-align:center;
    color: var(--ruby);
}

/* Checkout Form */
.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px dashed black;
    margin-top: 1rem;
    padding: 1rem;
}

.form-container h5 {
    color: var(--ruby);
    text-align: center;
    font-size: 1rem;
}

.form-container form {
    color: var(--ruby);
    width: 100%;
    text-align: center;
}

.form-container label {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
}

.form-container span {
    text-align: right;
}

.form-container input {
    background-color: #ddd;
    padding: 5px;
    font-size: 1rem;
    width: 70%;
}

.form-container .radio-container {
    margin: 20px;
}

.form-container .radio-options {
    margin-bottom: 15px;
}

.form-container .radio-options label {
    margin-right: 20px;
}

#textBoxContainer {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical;
}

.form-container .checkout-button {
    padding: 6px 14px;
    background-color: royalblue;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 20px;
    margin: 1rem auto;
    cursor: pointer;
}

.form-container .checkout-button.disabled {
    background-color: #999;
    cursor: not-allowed;
}


/* About Section */
.about,
.products {
    padding: 6rem 7% 1.4rem;
}

.about h2,
.products h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
    color:var(--ruby);
}

.about h2 span,
.products h2 span {
    color:aquamarine;
}

.about .row{
    display: flex;
}

.about .row .about-img{
    flex: 1 1 45rem;
}

.about .row .about-img img{
    width: 80%;
}

.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
    text-align:center;
}

.about .row .content h3{
    color: var(--ruby);
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.about .row .content p span {
    color: red;
    font-weight: bold;
    font-size: 1.3rem;
}

.about .row .content p {
    color: black;
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 350;
    line-height: 1.8rem;
}

.about .row .content .socials {
    border-style: inset;
    background-color: #eee;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.about .row .socials {
    padding: 1rem;   
}

.about .row .socials a{
    color: black;
    margin: 1rem;
}

.about .row .socials a:hover{
    color: var(--ruby);
}

/* Pulse animation */ 
.about .row .content .socials h3 {
    animation: pulse-new 2.5s ease infinite;
    }
    
    @keyframes pulse-new{
    
    0%{
    transform:scale(1);
    }
    5%{
    transform:scale(1);
    }
    10%{
    transform:scale(1.1);
    }
    15%{
    transform:scale(1);
    }
    20%{
    transform:scale(1.1);
    }
    25%{
    transform:scale(1);
    }
    30%{
    transform:scale(1.1);
    }
    35%{
    transform:scale(1);
    }
    100%{
    transform:scale(1);
    }
    
    }


/* Products Section */
.products .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); /* repeat parameter: jika ukuran lbh kcl dari 30rem, dia jadi 1 column. jika lbh dari 30rem maka jadi semaksimalnya  */
    gap: 1.5rem;
    margin-top: 4rem;
}

.products .product-card {
    text-align: center;
    border-style: inset;
    background-color: #eee;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 2rem;
}

.products .product-icons{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.products .product-icons a {
    width: 4rem;
    height: 4rem;
    color:var(--ruby);
    margin: 0.3rem;
    border:  1px solid #666;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products .product-icons a:hover {
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

.products .product-image img {
    height: 15rem;
}

.products .product-content h3 {
    color: #353839;
    font-size: 2rem;
}

.products .product-price {
    color: #353839;
    font-size: 1.3rem;
    font-weight: bold;
}

/* Footer */
footer {
background-color:#eee;
text-align: center;
padding: 1rem 0 3rem; 
margin-top: 3rem;
}

footer .links {
    margin-bottom: 1.1rem;
}

footer .links a:hover {
    color: var(--ruby);
}

footer .links a{
    color: black;
    padding: 0.7rem 1rem; /*kerenggangan*/
    text-decoration: none;
}

footer .credit {
    font-size: 0.8rem;
    color: black;
}

footer .credit a{
    color: var(--ruby);
    font-weight: 700;
    text-decoration: none;
}

/* Modal Box */
/* Item Detail */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-container {
    position: relative;
    background-color: rgba(254, 254, 254, 0.7);
    color:black;
    margin: 15% auto;
    padding: 1.2rem;
    border: 1px solid #666;
    width: 80%;
    height: 80vh;
    animation: animateModal 0.5s;
    border-radius: 3rem;
}

/* Modal Animation */
@keyframes animateModal {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.modal-container .close-icon {
    position: absolute;
    right: 1.5rem;
    height: 1rem;
}

.modal-container .close-icon :hover{
    color:#f00;
}

.modal-content {
    display: flex;
    flex-wrap: nowrap;
}


.modal-content img {
    height: 25rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    object-fit: contain;
}

.modal-content p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-top: 1.2rem;
}

.modal-content a{
    display: flex;
    gap: 1rem;
    width: 12rem;
    background-color: var(--primary);
    color: var(--ruby);
    margin-top: 0.8rem;
    padding: 1rem 1.3rem; 
    text-decoration: none;
}

.modal-content a:hover {
    color:red;
}


/* Media Queries */
/* laptop */
@media (max-width: 1366px) {
    html{
        font-size: 75%;
    }
}
/* deskop */
@media (max-width: 1920px) {
    html{
        font-size: 100%;
    }
}
/* tablet */
@media (max-width: 768px) {
    html{
        font-size: 50%;
    }

 #hamburger-menu {
    display: inline-block;
    color: var(--primary);
 }

 #hamburger-menu:hover{
    color: #f00;
 }

 .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
}
 .navbar .navbar-nav.active {
    right: 0;
 }

 .navbar .navbar-nav a {
    color: var(--primary);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
 }
 .navbar .navbar-nav a::after {
    transform-origin: 0 0;
 }
 .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.4);
 }


 .about .row{
    flex-wrap: wrap;
 }

 .about .row .about-img img{
    height:50rem;
    object-fit: cover;
    object-position: center;
 }

 .about .row .content {
    padding: 0;
 }

 .about .row .content h3 {
    margin-top: 1rem;
    font-size: 1.72rem;
 }

 .about .row .content p{
    font-size: 1.6rem;
 }

.modal-content {
    flex-wrap: wrap;
}

.modal-content img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


.modal-content span {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
}

.product-content h3{
    font-size: 1.5rem;
}

.modal-container {
    width: 95%; 
    height: 60vh;
}


#shopping-cart-button .quantity-badge {
    padding: 1px 5px;
    border-radius: 6px;
    font-size: 1.2rem;
    top: 0;
    right: -6px;
}

.shopping-cart .cart-item {
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 5rem;
    position: relative;
}

.shopping-cart img {
    height: 2rem;
    border-radius: 50%;
}

.shopping-cart h3 {
    font-size: 1.5rem;
}

.shopping-cart .item-price {
    font-size: 1.5rem;
}

.form-container h5 {
    text-align: center;
    font-size: 1.5rem;
}

.form-container form {
    width: 100%;
    text-align: center;
}

.form-container label {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
}

.form-container span {
    text-align: right;
}

.form-container input {
    background-color: #ddd;
    padding: 5px;
    font-size: 1rem;
    width: 70%;
}

.form-container .checkout-button {
    padding: 4px 14px;
    background-color: royalblue;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 20px;
    margin: 1rem auto;
    cursor: pointer;
}


.swiper-pagination {
    margin-bottom: -1rem;
    margin-left: 2rem;
}

.btn:hover {
    letter-spacing: 0.12rem;
}

.home .home-slider .slide {
    flex-direction: column;
    gap: 1rem;
}

.home .home-slider .slide .content,
.home .home-slider .slide .image {
    flex: 1 1 100%;
}

/* Maintain aspect ratio */
.home .home-slider .slide .image img {
    object-fit: contain; 
}

/* Ensure that the text content (span, h3, p) appears below the image */
.home .home-slider .slide .content {
    order: 2;
}
.home .home-slider .slide .image {
    order: 1; 
}


.home .home-slider .slide .content h3{
    font-size: 4rem;
}

.home .home-slider .slide .content span {
    font-size: 3rem;
}

.home .home-slider .slide .content h3 {
    font-size: 2rem;
}

.home .home-slider .slide .content p {
    font-size: 1.5rem;
    line-height: 1;
}

/* customSlider */
.sliderCustom .list .text,
.sliderCustom .list .item {
    width: 100px;
    animation: autoRun 6s linear infinite;
    animation-delay: calc( (6s / var(--quantity)) * (var(--position) - 1) );
}

}
/* mobile */
@media (max-width: 450px) {
    html{
        font-size: 55%;
    }
}